/****** 创建数据库所有表    Script Date:2014/5/30 21:23:49 ******/
USE BetterlifeNet

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Admin] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Department_ID]  [int]  NOT NULL,
     [Username]  [nvarchar](200)  NULL,
     [Realname]  [nvarchar](200)  NULL,
     [Password]  [nvarchar](45)  NULL,
     [Roletype]  [char](1)  NULL,
     [Seescope]  [char](1)  NULL,
     [LoginTimes]  [int]  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Admin', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Blog] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [User_ID]  [int]  NOT NULL,
     [Blog_Name]  [nvarchar](200)  NULL,
     [Blog_Content]  [nvarchar](500)  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [DF_Blog_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [DF_Blog_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Blog', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Comment] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [User_ID]  [int]  NOT NULL,
     [Comment]  [text]  NULL,
     [Blog_ID]  [int]  NOT NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Comment', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Department] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Department_Name]  [nvarchar](50)  NULL,
     [Manager]  [nvarchar](100)  NULL,
     [Budget]  [int]  NULL,
     [Actualexpenses]  [int]  NULL,
     [Estsalary]  [int]  NULL,
     [Actualsalary]  [int]  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Department', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Functions] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Url]  [nvarchar](500)  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Functions] ADD  CONSTRAINT [DF_Functions_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Functions] ADD  CONSTRAINT [DF_Functions_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Functions', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Logsystem] (
     [ID][uniqueidentifier] NOT NULL,
     [Logtime]  [datetime]  NULL,
     [Ident]  [char](1)  NULL,
     [Priority]  [char](1)  NULL,
     [Message]  [nvarchar](200)  NULL,
 CONSTRAINT [PK_Logsystem] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Logsystem] ADD  CONSTRAINT [DF_Logsystem_ID]  DEFAULT (newid()) FOR [ID]
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Loguser] (
     [ID][uniqueidentifier] NOT NULL,
     [User_ID]  [int]  NOT NULL,
     [UserType]  [char](1)  NULL,
     [Log_Content]  [nvarchar](200)  NULL,
     [CommitTime]  [datetime]  NULL,
 CONSTRAINT [PK_Loguser] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Loguser] ADD  CONSTRAINT [DF_Loguser_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO

ALTER TABLE [dbo].[Loguser] ADD  CONSTRAINT [DF_Loguser_ID]  DEFAULT (newid()) FOR [ID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Msg] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [SenderId]  [int]  NOT NULL,
     [ReceiverId]  [int]  NOT NULL,
     [SenderName]  [nvarchar](200)  NULL,
     [ReceiverName]  [nvarchar](200)  NULL,
     [Content]  [nvarchar](500)  NULL,
     [Status]  [char](1)  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Msg] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Msg] ADD  CONSTRAINT [DF_Msg_SenderId]  DEFAULT (0) FOR [SenderId]
GO
ALTER TABLE [dbo].[Msg] ADD  CONSTRAINT [DF_Msg_ReceiverId]  DEFAULT (0) FOR [ReceiverId]
GO
ALTER TABLE [dbo].[Msg] ADD  CONSTRAINT [DF_Msg_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Msg] ADD  CONSTRAINT [DF_Msg_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Msg', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Notice] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [NoticeType]  [int]  NULL,
     [Title]  [nvarchar](200)  NULL,
     [Notice_Content]  [nvarchar](1000)  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Notice] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Notice] ADD  CONSTRAINT [DF_Notice_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Notice] ADD  CONSTRAINT [DF_Notice_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Notice', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Region] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Parent_ID]  [int]  NOT NULL,
     [Region_Name]  [nvarchar](120)  NULL,
     [Region_Type]  [char](1)  NULL,
     [Level]  [int]  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Region', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Role] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Role_Name]  [nvarchar](200)  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Role', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Rolefunctions] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Role_ID]  [int]  NOT NULL,
     [Functions_ID]  [int]  NOT NULL,
 CONSTRAINT [PK_Rolefunctions] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

DBCC CHECKIDENT ('Rolefunctions', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[User] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [Username]  [nvarchar](200)  NULL,
     [Password]  [nvarchar](200)  NULL,
     [Email]  [nvarchar](500)  NULL,
     [Cellphone]  [nvarchar](500)  NULL,
     [LoginTimes]  [int]  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('User', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Userdetail] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [User_ID]  [int]  NOT NULL,
     [Realname]  [nvarchar](45)  NULL,
     [Profile]  [nvarchar](500)  NULL,
     [Country]  [int]  NULL,
     [Province]  [int]  NULL,
     [City]  [int]  NULL,
     [District]  [int]  NULL,
     [Address]  [nvarchar](500)  NULL,
     [Qq]  [nvarchar](100)  NULL,
     [Sex]  [char](1)  NULL,
     [Birthday]  [date]  NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Userdetail] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Userdetail] ADD  CONSTRAINT [DF_Userdetail_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Userdetail] ADD  CONSTRAINT [DF_Userdetail_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Userdetail', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Usernotice] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [User_ID]  [int]  NOT NULL,
     [Notice_ID]  [int]  NOT NULL,
     [CommitTime]  [datetime]  NULL,
     [UpdateTime]  [datetime]  NULL,
 CONSTRAINT [PK_Usernotice] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Usernotice] ADD  CONSTRAINT [DF_Usernotice_CommitTime]  DEFAULT (getdate()) FOR [CommitTime]
GO
ALTER TABLE [dbo].[Usernotice] ADD  CONSTRAINT [DF_Usernotice_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
DBCC CHECKIDENT ('Usernotice', RESEED, 1)

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Userrole] (
     [ID][int] IDENTITY(1,1) NOT NULL,
     [User_ID]  [int]  NOT NULL,
     [Role_ID]  [int]  NOT NULL,
 CONSTRAINT [PK_Userrole] PRIMARY KEY CLUSTERED ([ID] ASC)
 WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)ON [PRIMARY]
) ON [PRIMARY]
GO

DBCC CHECKIDENT ('Userrole', RESEED, 1)
/****** 创建数据库所有表的注释说明备注    Script Date:2014/5/30 21:23:49 ******/
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统管理人员' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理员标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'Department_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'Username'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'Realname'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'Password'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扮演角色
系统管理员扮演角色。
0:超级管理员-superadmin
1:管理人员-manager
2:运维人员-normal
3:合作伙伴-partner' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'Roletype'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'视野
0:只能查看自己的信息-self
1:查看所有的信息-all' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'Seescope'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'LoginTimes'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Admin', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog', @level2type=N'COLUMN',@level2name=N'User_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog', @level2type=N'COLUMN',@level2name=N'Blog_Name'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog', @level2type=N'COLUMN',@level2name=N'Blog_Content'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blog', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论者标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment', @level2type=N'COLUMN',@level2name=N'User_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment', @level2type=N'COLUMN',@level2name=N'Comment'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'博客标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment', @level2type=N'COLUMN',@level2name=N'Blog_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Comment', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户所属部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'Department_Name'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'Manager'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'预算' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'Budget'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'实际开销' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'Actualexpenses'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'预估平均工资
部门人员预估平均工资' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'Estsalary'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'实际工资
部门人员实际平均工资' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'Actualsalary'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'功能信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Functions'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识
权限编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Functions', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许访问的URL权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Functions', @level2type=N'COLUMN',@level2name=N'Url'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Functions', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Functions', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Logsystem'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Logsystem', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志记录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Logsystem', @level2type=N'COLUMN',@level2name=N'Logtime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类
标志或者分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Logsystem', @level2type=N'COLUMN',@level2name=N'Ident'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'优先级
0:严重错误-EMERG
1:警戒性错误-ALERT
2:临界值错误-CRIT
3:一般错误-ERR
4:警告性错误-WARN
5:通知-NOTICE
6:信息-INFO
7:调试-DEBUG
8:SQL-SQL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Logsystem', @level2type=N'COLUMN',@level2name=N'Priority'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Logsystem', @level2type=N'COLUMN',@level2name=N'Message'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Loguser'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Loguser', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Loguser', @level2type=N'COLUMN',@level2name=N'User_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型
1:登录-LOGIN
2:写日志-BLOG
3:写评论-COMMENT' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Loguser', @level2type=N'COLUMN',@level2name=N'UserType'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志详情
一般日志类型决定了内容；这一栏一般没有内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Loguser', @level2type=N'COLUMN',@level2name=N'Log_Content'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Loguser', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'消息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识
消息编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送者
发送者用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'SenderId'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收者
接收者用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'ReceiverId'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送者名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'SenderName'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收者名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'ReceiverName'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'Content'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'消息状态
枚举类型。
0:未读-unread
1:已读-read' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'Status'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Msg', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice', @level2type=N'COLUMN',@level2name=N'NoticeType'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice', @level2type=N'COLUMN',@level2name=N'Title'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice', @level2type=N'COLUMN',@level2name=N'Notice_Content'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notice', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地区' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父地区标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'Parent_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地区名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'Region_Name'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地区类型
0:国家-country
1:省-province
2:市-city
3:区-region
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'Region_Type'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目录层级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'Level'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Region', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Role'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Role', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Role', @level2type=N'COLUMN',@level2name=N'Role_Name'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Role', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Role', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色拥有功能
角色拥有功能关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rolefunctions'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rolefunctions', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rolefunctions', @level2type=N'COLUMN',@level2name=N'Role_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'功能标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rolefunctions', @level2type=N'COLUMN',@level2name=N'Functions_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Username'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Password'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Email'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Cellphone'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'访问次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'LoginTimes'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户详细信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'User_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Realname'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像
头像图片路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Profile'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'国家
参考region表的region_id字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Country'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'省
参考region表的region_id字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Province'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'市
参考region表的region_id字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'City'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区
参考region表的region_id字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'District'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'家庭住址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Address'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Qq'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'会员性别
0：女-female
1：男-male
-1：待确认-unknown
默认男' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Sex'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'Birthday'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userdetail', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户收到通知
用户收到通知关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usernotice'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usernotice', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usernotice', @level2type=N'COLUMN',@level2name=N'User_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usernotice', @level2type=N'COLUMN',@level2name=N'Notice_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usernotice', @level2type=N'COLUMN',@level2name=N'CommitTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usernotice', @level2type=N'COLUMN',@level2name=N'UpdateTime'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户角色
用户角色关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userrole'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userrole', @level2type=N'COLUMN',@level2name=N'ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userrole', @level2type=N'COLUMN',@level2name=N'User_ID'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userrole', @level2type=N'COLUMN',@level2name=N'Role_ID'
GO

/****** 创建数据库的外键部分    Script Date:2014/5/30 21:23:49 ******/

ALTER TABLE [dbo].[Admin]  WITH CHECK ADD CONSTRAINT [FK_Admin_Department] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Department] ([ID])
GO

ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Department]
GO

ALTER TABLE [dbo].[Blog]  WITH CHECK ADD CONSTRAINT [FK_Blog_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO

ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_User]
GO

ALTER TABLE [dbo].[Comment]  WITH CHECK ADD CONSTRAINT [FK_Comment_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO

ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO

ALTER TABLE [dbo].[Comment]  WITH CHECK ADD CONSTRAINT [FK_Comment_Blog] FOREIGN KEY([Blog_ID])
REFERENCES [dbo].[Blog] ([ID])
GO

ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Blog]
GO

ALTER TABLE [dbo].[Loguser]  WITH CHECK ADD CONSTRAINT [FK_Loguser_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO

ALTER TABLE [dbo].[Loguser] CHECK CONSTRAINT [FK_Loguser_User]
GO

ALTER TABLE [dbo].[Region]  WITH CHECK ADD CONSTRAINT [FK_Region_Region] FOREIGN KEY([Parent_ID])
REFERENCES [dbo].[Region] ([ID])
GO

ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Region]
GO

ALTER TABLE [dbo].[Rolefunctions]  WITH CHECK ADD CONSTRAINT [FK_Rolefunctions_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([ID])
GO

ALTER TABLE [dbo].[Rolefunctions] CHECK CONSTRAINT [FK_Rolefunctions_Role]
GO

ALTER TABLE [dbo].[Rolefunctions]  WITH CHECK ADD CONSTRAINT [FK_Rolefunctions_Functions] FOREIGN KEY([Functions_ID])
REFERENCES [dbo].[Functions] ([ID])
GO

ALTER TABLE [dbo].[Rolefunctions] CHECK CONSTRAINT [FK_Rolefunctions_Functions]
GO

ALTER TABLE [dbo].[Userdetail]  WITH CHECK ADD CONSTRAINT [FK_Userdetail_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO

ALTER TABLE [dbo].[Userdetail] CHECK CONSTRAINT [FK_Userdetail_User]
GO

ALTER TABLE [dbo].[Usernotice]  WITH CHECK ADD CONSTRAINT [FK_Usernotice_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO

ALTER TABLE [dbo].[Usernotice] CHECK CONSTRAINT [FK_Usernotice_User]
GO

ALTER TABLE [dbo].[Usernotice]  WITH CHECK ADD CONSTRAINT [FK_Usernotice_Notice] FOREIGN KEY([Notice_ID])
REFERENCES [dbo].[Notice] ([ID])
GO

ALTER TABLE [dbo].[Usernotice] CHECK CONSTRAINT [FK_Usernotice_Notice]
GO

ALTER TABLE [dbo].[Userrole]  WITH CHECK ADD CONSTRAINT [FK_Userrole_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO

ALTER TABLE [dbo].[Userrole] CHECK CONSTRAINT [FK_Userrole_User]
GO

ALTER TABLE [dbo].[Userrole]  WITH CHECK ADD CONSTRAINT [FK_Userrole_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([ID])
GO

ALTER TABLE [dbo].[Userrole] CHECK CONSTRAINT [FK_Userrole_Role]
GO
-- ----------------------------
-- Records of Department
-- ----------------------------
SET IDENTITY_INSERT [dbo].[Department] ON
    INSERT [dbo].[Department] ([ID], [Department_Name], [Manager], [Budget], [Actualexpenses], [Estsalary], [Actualsalary], [CommitTime], [UpdateTime]) VALUES (CAST(1 AS Numeric(11, 0)), N'项目部', N'skygreen', 1000000, 1000000, 1000000, 1000000, CAST(0x0000A31C00B74BAC AS DateTime), CAST(0x0000A31C00B74BAC AS DateTime))
SET IDENTITY_INSERT [dbo].[Department] OFF
-- ----------------------------
-- Records of Admin
-- ----------------------------
SET IDENTITY_INSERT [dbo].[Admin] ON
    INSERT [dbo].[Admin] ([ID], [Department_ID], [Username], [Realname], [Password], [Roletype], [Seescope], [LoginTimes], [CommitTime], [UpdateTime]) VALUES (CAST(1 AS Numeric(11, 0)), CAST(1 AS Numeric(11, 0)), N'admin', N'admin', N'admin', N'1', N'1', 0, CAST(0x0000A31C00B76545 AS DateTime), CAST(0x0000A31C00B76545 AS DateTime))
SET IDENTITY_INSERT [dbo].[Admin] OFF
-- ----------------------------
-- Records of User
-- ----------------------------
SET IDENTITY_INSERT [dbo].[User] ON
    INSERT [dbo].[User] ([ID], [Username], [Password], [Email], [Cellphone], [LoginTimes], [CommitTime], [UpdateTime]) VALUES (CAST(1 AS Numeric(11, 0)), N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'skygreen2001@gmail.com', N'13917320293', 0, CAST(0x0000A31C00CB9AE2 AS DateTime), CAST(0x0000A31C00CB9AE2 AS DateTime))
    INSERT [dbo].[User] ([ID], [Username], [Password], [Email], [Cellphone], [LoginTimes], [CommitTime], [UpdateTime]) VALUES (CAST(2 AS Numeric(11, 0)), N'china', N'edbd0effac3fcc98e725920a512881e0', N'skygreen2001@sina.com', N'13917320293', 0, CAST(0x0000A31C00CBC390 AS DateTime), CAST(0x0000A31C00CBC390 AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
-- ----------------------------
-- Records of Userdetail
-- ----------------------------
SET IDENTITY_INSERT [dbo].[Userdetail] ON
    INSERT [dbo].[Userdetail] ([ID], [User_ID], [Realname], [Profile], [Country], [Province], [City], [District], [Address], [Qq], [Sex], [Birthday], [CommitTime], [UpdateTime]) VALUES (CAST(1 AS Numeric(11, 0)), CAST(1 AS Numeric(11, 0)), N'周月璞', N'userdetail/profile/20140211094832.png', 1, 25, 321, 2709, N'上海市石岚三村80号404室', N'412731900', N'1', CAST(0x55060B00 AS Date), CAST(0x0000A31C00CC58A4 AS DateTime), CAST(0x0000A31C00CC58A4 AS DateTime))
SET IDENTITY_INSERT [dbo].[Userdetail] OFF
-- ----------------------------
-- Records of Blog
-- ----------------------------
SET IDENTITY_INSERT [dbo].[Blog] ON
    INSERT INTO [dbo].[Blog] ([ID],[User_ID],[Blog_Name],[Blog_Content],[CommitTime],[UpdateTime])VALUES ('1', '1', 'Web在线编辑器', '搜索关键字：在线编辑器\r\n引自：<a href=\""http://paranimage.com/22-online-web-editor/\"" target=\""_blank\"">http://paranimage.com/22-online-web-editor/</a>', '2014-04-27 22:44:35', '2014-04-27 22:46:00');
    INSERT INTO [dbo].[Blog] ([ID],[User_ID],[Blog_Name],[Blog_Content],[CommitTime],[UpdateTime])VALUES ('2', '1', '地图导航第三方库', '百度地图:<a href=\""http://openapi.baidu.com/map/index.html\"" target=\""_blank\"">http://openapi.baidu.com/map/index.html</a><br />City8 &nbsp; &nbsp; :<a href=\""http://sh.city8.com/api.html\"" target=\""_blank\"">http://sh.city8.com/api.html</a>', '2014-04-27 22:44:35', '2014-04-27 22:46:00');
    INSERT INTO [dbo].[Blog] ([ID],[User_ID],[Blog_Name],[Blog_Content],[CommitTime],[UpdateTime])VALUES ('3', '1', 'PHPLinq', 'PHPLinq:<a href=\""http://phplinq.codeplex.com/\"" target=\""_blank\"">http://phplinq.codeplex.com/</a>', '2014-04-27 22:44:35', '2014-04-27 22:46:00');
SET IDENTITY_INSERT [dbo].[Blog] OFF
-- ----------------------------
-- Records of Comment
-- ----------------------------
SET IDENTITY_INSERT [dbo].[Comment] ON
    INSERT INTO [dbo].[Comment] ([ID],[User_ID],[Comment],[Blog_ID],[CommitTime],[UpdateTime])VALUES ('1', '2', 'TinyMCE：<a href=\""http://tinymce.moxiecode.com/\"" target=\""_blank\"">http://tinymce.moxiecode.com/</a>\r\n免费，开源，轻量的在线编辑器，基于 javascript，高度可定制，跨平台。', '1', '2014-04-27 22:44:35', '2014-04-27 22:46:08');
    INSERT INTO [dbo].[Comment] ([ID],[User_ID],[Comment],[Blog_ID],[CommitTime],[UpdateTime])VALUES ('2', '2', 'FCKEditor：<a href=\""http://ckeditor.com/\"" target=\""_blank\"">http://ckeditor.com/</a>\r\n免费，开源，用户量庞大的在线编辑器，有良好的社区支持。', '1', '2014-04-27 22:44:35', '2014-04-27 22:46:08');
    INSERT INTO [dbo].[Comment] ([ID],[User_ID],[Comment],[Blog_ID],[CommitTime],[UpdateTime])VALUES ('3', '2', 'YUI Editor：<a href=\""http://developer.yahoo.com/yui/editor/\"" target=\""_blank\"">http://developer.yahoo.com/yui/editor/</a>\r\n属于 Yahoo! YUI 的一部分，能输出纯净 Xhtml 代码。', '1', '2014-04-27 22:44:35', '2014-04-27 22:46:08');
SET IDENTITY_INSERT [dbo].[Comment] OFF

ALTER TABLE [dbo].[Region] DROP constraint [FK_Region_Region]
-- ----------------------------
-- Records of Region
-- ----------------------------
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT INTO [dbo].[Region] ([ID],[Parent_ID],[Region_Name],[Region_Type],[Level],[CommitTime],[UpdateTime])VALUES ('1', '0', '中国', '0', '1', '2014-04-27 22:44:35', '2014-04-27 10:02:29');
INSERT INTO [dbo].[Region] ([ID],[Parent_ID],[Region_Name],[Region_Type],[Level],[CommitTime],[UpdateTime])VALUES ('2', '1', '北京', '1', '2', '2014-04-27 22:44:35', '2014-04-27 10:02:29');
INSERT INTO [dbo].[Region] ([ID],[Parent_ID],[Region_Name],[Region_Type],[Level],[CommitTime],[UpdateTime])VALUES ('3', '1', '安徽', '1', '2', '2014-04-27 22:44:35', '2014-04-27 10:02:29');
SET IDENTITY_INSERT [dbo].[Region] OFF

