<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="logSetting">
      <section name="systemLog" type="util.log.LogConfigSetting,callcenter" allowLocation="true" allowDefinition="Everywhere" />
      <!--系统日志-->
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <connectionStrings>
    <add name="BetterlifeNetEntities" connectionString="metadata=res://*/BetterlifeNetEntities.csdl|res://*/BetterlifeNetEntities.ssdl|res://*/BetterlifeNetEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BetterlifeNet;persist security info=True;user id=sa;password=123.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!--本应用名称-->
    <add key="SiteName" value="Betterlife.Net网站框架" />
    <!--  软件版本  -->
    <add key="Version" value="1.0" />
    <!--开发维护：是否调试状态-->
    <add key="IsDebug" value="false" />
    <!--日志路径，可通过设置修改-->
    <add key="LogPathInfo" value="C:\Program Files\betterlifenet\log" />
    <!--网站后台根路径；可通过设置修改-->
    <add key="UrlWebsite" value="http://localhost:1153/" />
    <!--网站前台根路径-->
    <add key="UrlPortal" value="http://localhost:6551/" />
    <!--网站上传文件路径-->
    <add key="UploadPath" value="C:\\net\Betterlife.Net\Admin\Uploads" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.net>
    <!--配置邮件设置-->
    <mailSettings>
      <!--配置SMTP服务器-->
      <smtp deliveryMethod="Network" from="ypzhou@zjimages.cn" >
        <!--指定服务器的主机、端口、验证信息-->
        <network host="smtp.exmail.qq.com" port="25" defaultCredentials="false" userName="ypzhou@zjimages.cn" password="SA123.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>