@{
    ViewBag.Title = Resources.HomePage;
}

<script type="text/javascript" src="@Url.Content("~/Scripts/index.js")"></script>

<h2>@ViewBag.Message</h2>
<p>
    若要了解有关 Betterlife.NET MVC 的更多信息，请访问 <a href="https://github.com/skygreen2001/Betterlife.Net" target="_blank" title="Betterlife.NET MVC 网站">https://github.com/skygreen2001/Betterlife.Net</a>。
</p>
<p>我最喜欢的语言:<span id="like_language"></span><br><a href="#" id="survey">点击我</a></p>